html,
body {
    height: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-weight: 700;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgba(0, 0, 0, .6);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  
  
  Resources

form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #000000;
}


h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    color: #f2a916;
}

p,
ol,
ul {
    margin-top: 0;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

strong {
    color: #8dc63f;
}

a {
    color: #8dc63f;
}

a:hover {
    text-decoration: none;
}

.container {
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFF;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
    background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
    background: #39599F;
}

ul.contact li a.icon-dribbble:before {
    background: #C4376B;
}

ul.contact li a.icon-tumblr:before {
    background: #31516A;
}

ul.contact li a.icon-rss:before {
    background: #F2600B;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
    display: inline-block;
    margin-top: 2em;
    padding: 1em 2em 1em 2em;
    background: #f2a916;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
}
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

.boxA,
.boxB,
.boxC {
    width: 384px;
    text-align: center;
}

.boxA h2,
.boxB h2,
.boxC h2 {
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 1.6em;
}

.boxA p,
.boxB p,
.boxC p {
    padding: 0em 1.5em;
}

.boxA,
.boxB {
    float: left;
    margin-right: 20px;
}

.boxC {
    float: right;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    position: relative;
    padding: 5em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    position: absolute;
    top: 4em;
    left: 0;
}

#logo h1 {}

#logo a {
    text-decoration: none;
    color: #f2a916;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
    position: absolute;
    top: 5em;
    right: 0;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li:before {
    content: "//";
    padding: 1em 1.5em;
    font-weight: 700;
    color: rgba(0, 0, 0, .6);
}

#menu li a,
#menu li span {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
    color: rgba(0, 0, 0, .6);
}

#menu .current_page_item a {
    color: rgba(0, 0, 0, .8);
}
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
    overflow: hidden;
    padding: 15em 0em;
    background: url(image/background.png) no-repeat center;
    background-size: cover;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.banner-text {
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
    position: relative;
    overflow: hidden;
    padding: 8em 0em;
}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(0, 0, 0, 0.6);
}

#copyright a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}


.box {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.box span {
    margin: 0;
    padding: 1em 1em;
    background: #f2a916;
    display: block;
    line-height: 3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    color: #FFF;
}

.inner1 {
    max-width: 75em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {

    .inner1 {
        max-width: 90%;
    }

}

@media screen and (max-width: 480px) {

    .inner1 {
        max-width: 90%;
    }

}

form {
    margin: 0 0 2em 0;
}

form .field {
    margin-bottom: 1.5em;
}

form .field.half {
    display: inline-block;
    width: 48%;
}

form .field.half.first {
    margin-right: 3%;

}

@media screen and (max-width: 980px) {

    form .field.half {
        display: block;
        width: 100%;
    }

    form .field.half.first {
        margin-right: 0;
    }
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
}

form {
    margin: 0 0 1em 0;
}

form .field {
    margin-bottom: 1.5em;
}

form .field.half {
    display: inline-block;
    width: 48%;
}

form .field.half.first {
    margin-right: 3%;

}

@media screen and (max-width: 980px) {

    form .field.half {
        display: block;
        width: 100%;
    }

    form .field.half.first {
        margin-right: 0;
    }
}
label {
    color: #555;
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 1em 0;
}


input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 3em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #f2a916;
    border-radius: 10px;
    border: none;
    border: solid 2px #d6d6d6;
    color: #fff;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #fff;
    box-shadow: 0 0 0 1px #d6d6d6;
}
}

input[type="submit"].alt,
button.alt,
.button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #FFF;
    color: #fff !important;
}

::-webkit-input-placeholder {
    color: #c4e5d3 !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #fff !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #fff !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #fff !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #fff !important;
    opacity: 1.0;
}


/* 
footer
*/
#message{
    resize: none;
}

#footer {
    padding: 6em 0;
    background: #f2a916;
    color: #fff;
    text-align: center;
}

#footer h3 {
    color: #FFF;
    margin-bottom: 2em !important;
}

#footer label {
    text-align: left;
    color: #FFF;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    margin: 0 0 2em 0;
    padding: 0;
}

#footer .copyright a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#footer .copyright a:hover {
    color: #FFF;
}


@media screen and (max-width: 980px) {

    #footer {
        padding: 4em 0;
    }

}

@media screen and (max-width: 736px) {

    #footer {
        padding: 3em 0;
    }
}